* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  body {
    background-image: url(assets/images/Pokedex.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100vh;
  }
  
  img{
    height: 250px;
    width: auto;
  }


  #pokemoncontainer {
    font-size: 20px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  #search {
    margin-top: 498px;
    margin-left: 470px;
    width: 177px;
    height: 85px;
    position: fixed;
  }
  
  #searchbtn {
    display: block;
    margin: 0 auto;
    border-radius: 160px;
    width: 50px;
    height: 50px;
    margin-top: 508px;
    margin-left: 770px;
    position: fixed;
  }

  #volumeButton{
    margin: 0;
    padding:0%
  }