@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url(assets/images/Pokedex.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100vh;
}

img {
  height: 220px;
  width: auto;
  position: relative; /* Add this to allow positioning */
  z-index: -100; /* Position the image in front of other elements */
}

#pokemoncontainer {
  font-size: 14px;
  margin-top: 85px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#search {
  background-color: chartreuse;
  margin-top: 498px;
  margin-left: 560px;
  width: 177px;
  height: 85px;
  position: fixed;
}

#searchbtn {
  background-color: chartreuse;
  display: block;
  margin: 0 auto;
  border-radius: 160px;
  width: 50px;
  height: 50px;
  margin-top: 530px;
  margin-left: 770px;
  position: fixed;
}

#volumeButton {
  background-color: tomato;
  border-radius: 160px;
  width: 40px;
  height: 40px;
  margin-top: 490px;
  margin-left: 750px;
  position: fixed;
}

#randomPokemonButton {
  border-radius: 160px;
  width: 360px;
  height: 30px;
  margin-top: 454px;
  margin-left: 460px;
  position: fixed;
  background-color: antiquewhite;
}
